# feat : 新功能
# fix : 修复bug
# docs : 文档改变
# style : 代码格式改变
# refactor : 某个已有功能重构
# perf : 性能优化
# test : 增加测试
# build : 改变了build工具 如 grunt换成了 npm
# revert : 撤销上一次的 commit
# chore : 构建过程或辅助工具的变动

.DS_Store
node_modules
/dist
/dist.zip

package-lock.json
yarn.lock

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
