// 重置一些全局的基本样式，微服务嵌入的时候应该通过主服务引入来保持一致
// @import "./common/base.scss";

// icon
.svg-icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  // margin-right: 5px;
  fill: currentColor;
}
