
// dialog全局样式
.ml-dialog {
  .el-dialog {
    @include dialogBg();
  }

  .el-dialog__header {
    padding: 14px 20px 14px;
    border-bottom: 1px solid rgba(82, 137, 252, 0.5);

    .el-dialog__title {
      font-size: 16px;
      color: #fff;
    }
  }

  .el-dialog__body {
    padding: 16px 24px 0;
  }

  .el-dialog__headerbtn {
    font-weight: 600;

    .el-dialog__close {
      font-weight: 600;
    }
  }

  .el-form-item__label {
    color: rgba(255, 255, 255, 0.85);
  }

  .el-textarea__inner {
    color: rgba(255, 255, 255, 0.57);
    background-color: rgba(82, 137, 252, 0.3);
    // border: 0;
  }

  .el-input__inner {
    color: #fff;
    background: none;
    border-color: #5289fc;
  }
}

.el-message {
  z-index: 9999 !important;
}

.el-message-box {
  @include dialogBg();

  .el-message-box__content {
    color: #fff;
  }

  .el-message-box__btns .el-button:first-child {
    color: #5289fc;
    background: none;
    border-color: #5289fc;
  }
}

// 公共页面样式
.common-page {
  position: relative;
  width: 100%;
  min-width: 1220px;
  height: 100%;
  padding: 20px 24px;
  background: #fff !important;
  border: 20px solid #f0f2f5;
  // 编辑等子页面
  >.children-page {
    position: absolute;
    z-index: 10;
    padding: 20px;
    background-color: #fff;

    @include pos(0,0,auto,0);
  }
}

.el-button--primary.is-plain {
  background: none;
  // border-color: $--color-primary;
}

// 全屏loading
.el-loading-mask.is-fullscreen {
  z-index: 3222 !important;
}

// 重置
.ml-table,
.ml-base-table {
  .el-button--text {
    padding: 0;
  }
}
// 修改主题色

// 强制修改弹窗的zindex
.el-picker-panel {
  z-index: 4000 !important;
}

// for 文字分2行显示多余省略 公共style
.p20-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// el-scrollbar__thumb
.el-scrollbar__thumb {
  background-color: #d9d9d9 !important;
}

// 下拉给个比较高的zindex
.el-select-dropdown {
  z-index: 5000 !important;
}

//el-tooltips给定一个默认宽度
.el-tooltip__popper {
  max-width: 400px;
  overflow: hidden;

  @include ells(15);
}

//下拉选择宽度
.el-select_popper {
  max-width: 600px;
}

// table 暂无数据图标文字居中
.el-table__empty-block {
  width: 100% !important;
}

textarea {
  font-family: inherit;
}
