// 表格搜索头的样式，全局重写
.ml-table {
  //下划线修复
  .el-table__fixed-right {
    &::before {
      display: none;
    }
  }
  .el-table th {
    padding: 11px 0px !important;
  }

  .el-table thead th {
    background-color: #fafafa !important;
    color: #333333 !important;
  }

  .el-table td {
    padding: 11px 0px !important;
  }

  .table-pagination {
    margin-top: 20px !important;
  }

  .el-pagination__editor {
    margin-left: 6px;
  }

  .search-btn-box {
    .el-button {
      transition: none;
    }
  }

  .el-table--scrollable-x .el-table__body-wrapper {
    &::-webkit-scrollbar-track {
      width: 400px;
      height: 6px;
      background: #d9d9d9;
      border-radius: 3px;
    }
  }

  // 表单的时间选择中间的字
  .search-form-box .ml-form-item-box .el-form-item__content .el-range-separator {
    width: 22px;
    line-height: 25px;
  }
}

// dialog全局样式
.ml-dialog {
  .el-dialog__header {
    padding: 14px 20px 14px;
    box-shadow: 0px -1px 0px 0px #e6e6e6 inset;
  }

  .el-dialog__body {
    padding: 24px 32px;
  }

  .el-dialog__headerbtn {
    font-weight: 600;

    .el-dialog__close {
      font-weight: 600;
    }
  }
}

// 公共页面样式
.common-page {
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  border: 20px solid #f0f2f5;
  background: #fff !important;
  position: relative;
  min-width: 1220px;
  // 编辑等子页面
  >.children-page{
    position: absolute;
    background-color: #fff;
    @include pos(0,0,auto,0);
    padding: 20px;
    z-index: 10;
  }
}


// 预警管理的新增编辑预警
.input-in-sel .el-cascader-panel .el-scrollbar .el-scrollbar__wrap {
  overflow: scroll;
}

// 全屏loading
.el-loading-mask.is-fullscreen {
  z-index: 2222!important;
}

// 重置
.ml-table,.ml-base-table{
  .el-button--text{
    padding: 0;
  }
}
// 修改主题色




// for 文字分2行显示多余省略 公共style
.p20-2 {
  white-space: normal !important;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


// el-scrollbar__thumb
.el-scrollbar__thumb {
  background-color: #D9D9D9 !important;
}

// 下拉给个比较高的zindex
.el-select-dropdown {
  z-index: 5000 !important;
}

//el-tooltips给定一个默认宽度
.el-tooltip__popper {
  max-width: 400px;
  overflow: hidden;
  @include ells(15);
}

//下拉选择宽度 
.el-select_popper {
  max-width: 600px;
}

// table 暂无数据图标文字居中
.el-table__empty-block {
  width: 100% !important;
}


textarea{
  font-family: inherit;
}